{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>削除</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    crossorigin="anonymous">
</head>
<body class="container">
    <h1 class="display-4 text-danger">
        削除</h1>
    <p>※以下の文章を削除します。</p>
    <table class="table">
        <tr><th>Message</th><td>{{message}}</td></tr>
        <form action="{% url 'delete' id %}" method="post">
        {% csrf_token %}
        <tr><th></th><td>
            <a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary">キャンセル</a>
            <input type="submit" value="削除"
                class="btn btn-danger">
        </td></tr>
        </form>
    </table>
</body>
</html>